select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select{
	display: inline-block;
    text-align: center;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0;
  	border: 0;
	border-radius: 0;
	background: #fbfddb;
	color: #7b7b7b;
	font-size: 1.34em;
	color: rgb(87, 87, 87);
	font-family: 'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    position: relative;
    transition: all 0.25s ease;
}

select:hover{
	background: #f9ffa1;
}

.billing-info i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #b42ac1;
	border-bottom:4px solid #c12ac1;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.billing-info:hover i{
	margin-top: 3px;
}

.content-select{
	max-width: 100%;
	position: relative;
}

.sl-order :hover{
	font-size: 20px;
	background-color: red;
}