{% macro render_field(field) %}
    <dd class="field">{{ field(**kwargs)|safe }}

    {% if field.errors %}
        <ul style="list-style: none;">
            {% for error in field.errors %}
                <li style="color: rgb(255, 107, 107);">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}
