{% extends 'base.html' %}

{% block title %}
    Acerca de nosotros
{% endblock %}

{% block content %}
<div class="breadcrumb-area bg-image-3 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- About Us Area Start -->
<div class="about-us-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div class="overview-content-2">

                    <h2>Bienvenido a la tienda Trululu</h2>
                    <p class="peragraph-blog">Somos una empresa que tiene como objetivo el crecimiento e innovación
                        de nuestros productos para satisfacer a nuestros clientes con deliciosos dulces que contienen alegría,
                        y colores de distintos sabores produciendo alegría en cada mordida.</p>

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="overview-img text-center">
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/banner/acerca-nosotros.png') }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Area End -->
<!-- Testimonial Area Start -->
<div class="testimonials-area logitos pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img alt="" src="{{ url_for('static', filename='img/icon-img/gomita.png') }}">
                        </div>
                        <p>Somos mucho más que fabricantes de golosinas… Creamos mágicos momentos y compartimos
                            alegría.</p>
                    </div>
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img alt="" src="{{ url_for('static', filename='img/icon-img/gomita.png') }}">
                        </div>
                        <p>Compartir con nuestros consumidores productos novedosos de gran calidad desarrollados
                            producidos y distribuidos por un equipo humano talentoso.</p>
                    </div>
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img alt="" src="{{ url_for('static', filename='img/icon-img/gomita.png') }}">
                        </div>
                        <p>Comprometidos y seguros de que cada golosina transformará cada momento en un
                            #SuperMomento.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Team Area Start -->
<div class="team-area pt-95 pb-70">
    <div class="container">
        <div class="product-top-bar section-border mb-50">
            <div class="section-title-wrap style-two text-center">
                <h3 class="section-title">Sucursales</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img style="height: 400px" src="{{ url_for('static', filename='img/team/tienda1.png') }}" alt="">
                        </a>

                    </div>
                    <div class="team-content text-center">
                        <h4>Sucursal Gudalupe</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img style="height: 400px" src="{{ url_for('static', filename='img/team/tienda2.png') }}" alt="">
                        </a>

                    </div>
                    <div class="team-content text-center">
                        <h4>Sucursal Alajuela</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img style="height: 400px" src="{{ url_for('static', filename='img/team/tienda3.png') }}" alt="">
                        </a>

                    </div>
                    <div class="team-content text-center">
                        <h4>Sucursal Paseo Metropoli</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Area End -->
{% endblock %}