{% extends 'base.html' %}

{% block title %}
    Mi perfil
{% endblock %}

{% block content %}

{% from "_macro.html" import render_field %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100" >
    <div class="container" >
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9" >
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span></span> <a href="#payment-2">Dirección detallada en {{district_name}}</a></h5>
                                </div>
                                <div id="payment-2" data-bs-parent="#faq">
                                    <div class="panel-body">
                                        <div class="billing-information-wrapper">
                                            <form method="POST" name="formulario">
                                                <div class="row">
                                                        <div class="billing-info">
                                                            <label style="font-size: 18px;">Dirección detallada:</label>
                                                            <textarea name="address" id="" cols="30" rows="10" style="max-height: 200px; min-height: 100px;" placeholder="100m Norte de la licorería el nuevo sol... En la esquina dorada."></textarea>
                                                        </div>
                                                    <div class="billing-back-btn">
                                                        <div style="width: 100%;" class="billing-btn">
                                                            <button style="width: 100%;" type="submit">Siguiente</button>
                                                        </div>
                                                    </div>
                                                    <div class="billing-back-btn">
                                                        <div class="billing-btn">
                                                            <a class="linkpassword" style="width: 100%;" href="{{ url_for('add_distrito') }}">Regresar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}