<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title%}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">

		<!-- all css here -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mine.css') }}">
        <!--<script src="../static/js/vendor/modernizr-3.11.2.min.js"></script>-->
        <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}s"></script>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta" class="alert alert-success" style="margin: 0; text-align: center; font-weight: bolder;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- header start -->
        <header class="header-area yellow-bg clearfix">
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logo">
                                <a href="{{ url_for('home') }}">
                                    <img alt="" src="{{ url_for('static', filename='img/logo/logoTrululu.png') }}" width="150px" height="75px">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-6">
                            <div class="header-bottom-right">
                                <div class="main-menu" style="margin-left: -150px;">
                                    <nav>
                                        <ul>
                                            <li class="top-hover"><a href="{{ url_for('home') }}">Inicio</a></li>
                                            <li class="top-hover"><a href="{{ url_for('about') }}">Nosotros</a></li>
                                            {% if 'user' in session %}
                                                {% if session['user'].id_rol != 3 %}
                                                <li class="mega-menu-position top-hover"><a href="{{ url_for('shop') }}">Tienda</a></li>
                                                {% endif %}
                                            {% else %}
                                                <li class="mega-menu-position top-hover"><a href="{{ url_for('register') }}">Tienda</a></li>
                                                <li class="top-hover"><a href="{{ url_for('register') }}"><i class="fa fa-user fa-2x"></i></a></li>
                                            {% endif %}
                                            {% if 'user' in session %}
                                                {% if session['user'].id_rol == 2 %}
                                                    <li class="top-hover"><a href="{{ url_for('quotation') }}">Cotizaciones</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ url_for('quotation') }}">Nueva cotización</a></li>
                                                            <li><a href="{{ url_for('my_quotation')}}">Mis cotizaciones</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="top-hover"><a href="{{ url_for('order') }}">Envios</a></li>
                                                    <li class="top-hover"><a href="{{ url_for('events_list') }}">Eventos</a></li>
                                                {% elif session['user'].id_rol == 3 %}
                                                    <li class="top-hover"><a href="{{ url_for('events') }}">Eventos</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ url_for('events') }}">Nuevo Evento</a></li>
                                                            <li><a href="{{ url_for('events_list')}}">Registro de eventos</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="top-hover"><a href="{{ url_for('report') }}">Reportes</a></li>
                                                    <li class="top-hover"><a href="{{ url_for('rol') }}">Roles</a></li>
                                                    <li class="top-hover"><a href="{{ url_for('quotation_adm') }}">Cotizaciones</a></li>
                                                    <li class="top-hover"><a href="{{ url_for('order_adm') }}">Envios</a></li>
                                                    {% elif session['user'].id_rol == 1 %}
                                                    <li class="top-hover"><a href="{{ url_for('order') }}">Envios</a></li>
                                                    <li class="top-hover"><a href="{{ url_for('events_list') }}">Eventos</a></li>
                                                {% endif %}
                                                <li class="top-hover"><a href="{{ url_for('register') }}"><i class="fa fa-user fa-2x"></i></a>
                                                    <ul class="submenu">
                                                        <li>Bienvenido, {{ session['user'].nombre1 }}</a></li>
                                                        <li><a href="{{ url_for('profile') }}">Mi perfil</a></li>
                                                        <li><a href="{{ url_for('receive_menu') }}">Mis facturas</a></li>
                                                        <li><a href="{{ url_for('register')}}">Cerrar sesión</a></li>
                                                    </ul>
                                                </li>
                                                <div class="header-cart">
                                                    <a href="{{ url_for('cart_page') }}">
                                                        <div class="cart-icon">
                                                            <i class="ti-shopping-cart">  {{session['products_quantity']}}</i>
                                                        </div>
                                                    </a>
                                                    {% if session['products_quantity'] > 0%}
                                                    <div class="shopping-cart-content" style="padding-top: 10px;">
                                                        <div class="shopping-cart-total" style="margin-top: 12.5px;">
                                                            <h4>Total : <span class="shop-total">₡{{session['total_price']}}</span></h4>
                                                        </div>
                                                        <div class="shopping-cart-btn">
                                                            <a href="{{ url_for('cart_page') }}">Mirar carrito</a>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
		<!-- header end -->
        {% block content %}{% endblock %}
		<!-- Footer style Start -->
        <footer class="footer-area pt-75">
            <div class="footer-top logitos pb-35">
                <div class="container">
                    <div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-25">
                                    <h4>Tienda</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="{{ url_for('shop') }}">Productos</a></li>
                                        <li><a href="{{ url_for('quotation') }}">Cotizaciones</a></li>
                                        <li><a href="{{ url_for('order') }}">Envios</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-25">
                                    <h4>Informacion</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="{{ url_for('about') }}">Acerca de nosotros</a></li>
                                        <li><a href="{{ url_for('order') }}">Informacion de envios</a></li>
                                        <li><a href="#">Politicas privacidad</a></li>
                                        <li><a href="#">Terminos y condiciones</a></li>
                                        <li><a href="{{ url_for('quotation') }}">Informacion de cotizaciones</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget footer-widget-red footer-black-color mb-40">
                                <div class="footer-title mb-25">
                                    <h4>Contactanos</h4>
                                </div>
                                <div class="footer-about">
                                    <p>Numero de Contacto:</p>
                                    <div class="footer-contact mt-20">
                                        <ul>
                                            <li>(+506) 6379-4720</li>

                                        </ul>
                                    </div>
                                    <br>
                                    <p>Correos Disponibles:</p>
                                    <div class="footer-contact mt-20">
                                        <ul>
                                            <li>edisonprosi@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-25">
                                    <h4>Redes Sociales</h4>
                                </div>
                                <div class="footer-contact mt-20">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/mundo.super/?ref=br_rs"><i class="fa fa-facebook-square fa-2x" style="color: black; background-color:#ffe500 ;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                            <a href="https://www.instagram.com/tiendatrululucr/?hl=es-la"><i class="fa fa-instagram fa-2x" style="color: black; background-color:#ffe500 ;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                            <a href="https://twitter.com/somos_super"><i class="fa fa-twitter-square fa-2x" style="color: black; background-color:#ffe500 ;"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		<!-- Footer style End -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="../assets/img/product-details/product-detalis-l1.jpg" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="../assets/img/product-details/product-detalis-l2.jpg" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="../assets/img/product-details/product-detalis-l3.jpg" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="../assets/img/product-details/product-detalis-l4.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="product-thumbnail">
                                    <div class="thumb-menu owl-carousel nav nav-style" role="tablist">
                                        <a class="active" data-bs-toggle="tab" href="#pro-1"><img src="../assets/img/product-details/product-detalis-s1.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-2"><img src="../assets/img/product-details/product-detalis-s2.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-3"><img src="../assets/img/product-details/product-detalis-s3.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-4"><img src="../assets/img/product-details/product-detalis-s4.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- Thumbnail image end -->
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="modal-pro-content">
                                    <h3>Dutchman's Breeches </h3>
                                    <div class="product-price-wrapper">
                                        <span class="product-price-old">£162.00 </span>
                                        <span>£120.00</span>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>Size*</label>
                                            <select class="select">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                            </select>
                                        </div>
                                        <div class="quickview-color-wrap">
                                            <label>Color*</label>
                                            <div class="quickview-color">
                                                <ul>
                                                    <li class="blue">b</li>
                                                    <li class="red">r</li>
                                                    <li class="pink">p</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                        </div>
                                        <button>Add to cart</button>
                                    </div>
                                    <span><i class="fa fa-check"></i> In stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->

		<!-- all js here -->
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/ajax-mail.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/ed.js"></script>
    </body>
</html>
