{% extends 'base.html' %}

{% block title %}
    Carrito de compras
{% endblock %}

{% block content %}
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-image-4 ptb-150">
            <div class="container">
                <div class="breadcrumb-content text-center">

                </div>
            </div>
        </div>
		<!-- Breadcrumb Area End -->
         <!-- shopping-cart-area start -->
        <div class="cart-main-area ptb-100">
            <div class="container">
                <h3 class="page-title">Productos agregados</h3>
                {% if session['products_quantity'] > 0 %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form method="POST">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre del producto</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    {% for product in products %}
                                        {% if session[product.nombre] > 0 %}
                                    <tbody>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img style="width: 60px;" src={{ url_for('static', filename=product.imagen) }} alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{product.nombre}} {{product.cantidad}}</a></td>
                                            <td class="product-price-cart"><span class="amount">₡{{product.precio}}</span></td>
                                            <td class="product-quantity">
                                                <div class="pro-dec-cart">
                                                    <input class="cart-plus-minus-box" type="text" value="{{session[product.nombre]}}" id="cantidad" name="qtybutton" readonly>
                                                </div>
                                            </td>
                                            {% if product.descuento != 0 %}
                                                <td class="product-subtotal">₡{{ product.precio - (product.precio * (product.descuento / 100)) }}</td>
                                            {% else %}
                                                <td class="product-subtotal">₡{{ product.precio }}</td>
                                            {% endif %}
                                            <form method="post">
                                                <td class="product-remove">
                                                    <input type="hidden" name="product_name" value="{{product.nombre}}">
                                                    {% if product.descuento != 0 %}
                                                        <input type="hidden" name="product_value" value="{{product.precio - (product.precio * (product.descuento / 100))}}">
                                                    {% else %}
                                                        <input type="hidden" name="product_value" value="{{product.precio}}">
                                                    {% endif %}
                                                    <button class="cart-plus-minus-box eliminar btn btn-danger">
                                                        Eliminar
                                                    </button>
                                               </td>
                                            </form>
                                        </tr>
                                    </tbody>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a style="color: white;" href="{{ url_for('shop') }}">Continuar con la compra</a>
                                        </div>
                                        <form method="POST">
                                            <div class="cart-clear">
                                                <input type="hidden" name="product_name" value="0">
                                                <button type="submit" style="color: white;" id="limpiar">Limpiar lista de compra</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Total de la compra</h4>
                                    </div>
                                    <h5>Cantidad de productos: <span>{{session['products_quantity']}}</span></h5>
                                    <h4 class="grand-totall-title">Total a pagar <span>₡{{session['total_price']}}</span></h4>
                                    <a href="{{ url_for('payment') }}">Proceso de pago</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>El carrito está vacío.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}