{% extends 'base.html' %}

{% block title %}
    Mi perfil
{% endblock %}

{% block content %}

{% from "_macro.html" import render_field %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100" >
    <div class="container" >
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9" >
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span></span> <a href="#payment-2">Confirmación de datos</a></h5>
                                </div>
                                <div id="payment-2" data-bs-parent="#faq">
                                    <div class="panel-body">
                                        <div class="billing-information-wrapper">
                                            <form method="POST" name="formulario">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-6">
                                                        <div class="billing-info">
                                                            <label style="font-size: 18px;">Provincia:</label>
                                                            <input type="text" value="{{session['user_province_name']}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label style="font-size: 18px;">Cantón:</label>
                                                            <input type="text" value="{{session['user_canton_name']}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label style="font-size: 18px;">Distrito:</label>
                                                            <input type="text" value="{{session['user_district_name']}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                        </div>
                                                    </div>
                                                        <div class="billing-info">
                                                            <label style="font-size: 18px;">Dirección detallada:</label>
                                                            <textarea name="" id="" cols="30" rows="10" style="max-height: 200px; min-height: 100px;" placeholder="100m Norte de la licorería el nuevo sol... En la esquina dorada.">{{session['user_address']}}</textarea>
                                                        </div>
                                                    <div class="billing-back-btn" style="width: 100%;">
                                                        <div class="billing-btn" style="width: 100%; display: flex; flex-direction: row; justify-content: space-around;">
                                                            <button type="button" style="width: 49%;"><a style="color: rgb(255, 255, 255);" href="{{ url_for('add_province') }}">Modificar</a></button>
                                                            <button type="submit" style="width: 49%;">Guardar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}