{% extends 'base.html' %}

{% block title %}
Lista de eventos
{% endblock %}

{% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-3 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div>
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span></span> <a data-bs-toggle="collapse"
                                            href="#payment-2">Eventos</a></h5>
                                </div>
                                <div class="table-responsive">
                                    <form method="post">
                                        <table class="content-table">
                                            <thead>
                                                <tr>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;color: black;"
                                                        class="width-2">Imagen</th>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px; color: black;"
                                                        class="width-1" >Nombre del evento</th>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;color: black;"
                                                        class="width-1">Descripcion</th>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;color: black;"
                                                        class="width-2">Horario</th>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;color: black;"
                                                        class="width-2">Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for evento in eventos %}
                                                <tr>
                                                    <td>
                                                        <div class="product-img">
                                                            <img style="height: 150px;" src="{{ url_for('static', filename='img/eventos/ImagenEvento.jpeg') }}" alt="" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="o-pro-dec">
                                                            <p
                                                                style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                                {{evento.nombre}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="o-pro-dec">
                                                            <p
                                                                style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                                {{evento.descripcion}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="o-pro-price">
                                                            <p
                                                                style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                                {{evento.horario}}</p>
                                                        </div>
                                                    </td>
                                                    {% if session['user'].id_rol == 3 %}
                                                    <td>
                                                        <div class="o-pro-qty">
                                                            <div class="billing-back-btn">
                                                                <div class="billing-btn">
                                                                    <button type="submit" name="eliminado"
                                                                        id="eliminado"
                                                                        value="{{evento.id_evento}}">Eliminar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}