{% extends 'base.html' %}

{% block title %}
    Modificar evento
{% endblock %}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-image-3 ptb-150">
        <div class="container">
            <div class="breadcrumb-content text-center">
            </div>
        </div>
    </div>
	<!-- Breadcrumb Area End -->
    <!-- checkout-area start -->
    <div class="checkout-area pb-80 pt-100">
        <div class="container">
            <div class="row" style="text-align: center; justify-content: center;">
                <div class="col-lg-9">
                    <div class="checkout-wrapper">
                        <div id="faq" class="panel-group">
                            <div class="panel panel-default">
                                <div>
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span></span> <a data-bs-toggle="collapse" href="#payment-2">Agregar Evento</a></h5>
                                    </div>
                                    <form action="" method="post">
                                        <div id="payment-2" data-bs-parent="#faq">
                                            <div class="panel-body">
                                                <div class="billing-information-wrapper">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Titulo del evento:</label>
                                                                <input type="text" name="event_title" id="event_title">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Descripción del evento:</label>
                                                                <input type="text" name="event_desc" id="event_desc">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Horario del evento:</label>
                                                                <input type="time" name="event_horario" id="event_horario">
                                                            </div>
                                                        </div>
                                                        <div class="content-select">
                                                            <select name="sucursal" id="sucursal">
                                                                <option value="0" selected>Seleccione la sucursal:</option>
                                                                {% for sucursal in sucursales %}
                                                                    <option value="{{sucursal.id_sucursal}}">{{sucursal.nombre}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <i></i>
                                                        </div>
                                                    </div>
                                                    <p>
                                                    </p>
                                                    <div style="text-align: center; justify-content: center;">
                                                        <div class="cart-clear">
                                                            <button type="submit" style="color: white;" >Agregar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}