{% extends 'base.html' %}

{{ session['user'] }}

{% block title %}
    Tienda Trululu
{% endblock %}

{% block content %}
<!-- Slider Start -->
<div class="slider-area">
    <div class="slider-active owl-dot-style owl-carousel">
        <div class="single-slider ptb-240 bg-img" style="background-image:url(../static/img/slider/Banner-Bianchi-Collection-2.png);">
            <div class="container">
                <div class="slider-content slider-animated-1">
                    <h1 class="animated"> <span class="theme-color"></span></h1>
                    <h1 class="animated"></h1>

                </div>
            </div>
        </div>

        <div class="single-slider ptb-240 bg-img" style="background-image:url(../static/img/slider/Banner-barra-de-cereal.png);">
            <div class="container">
                <div class="slider-content slider-animated-1">
                    <h1 class="animated"> <span class="theme-color"></span></h1>
                    <h1 class="animated"></h1>

                </div>
            </div>
        </div>

        <div class="single-slider ptb-240 bg-img" style="background-image:url(../static/img/slider/Banner-Web-ORIGAMI.png);">
            <div class="container">
                <div class="slider-content slider-animated-1">
                    <h1 class="animated"> <span class="theme-color"></span></h1>
                    <h1 class="animated"></h1>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider End -->

<!-- New Products Start -->
<div class="product-area white-bg pt-90 pb-65">
    <div class="container">
        <div class="product-top-bar section-border mb-55">
            <div class="section-title-wrap text-center">
                <h3 class="section-title">Productos Populares</h3>
            </div>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active">
                <div class="featured-product-active owl-carousel product-nav">
                    <div class="product-wrapper-single">
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a>
                                    <img src="{{ url_for('static', filename='img/product/dinos.jpg') }}" alt="" />
                                </a>
                                <span>-30%</span>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Trululu Dinoss</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡950.00 -</span>
                                    <span class="product-price-old">₡1350.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a >
                                    <img src="{{ url_for('static', filename='img/product/oro.png') }}" alt="" />
                                </a>
                                <span>-25%</span>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Trululu Oro</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a>Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡1162.00 -</span>
                                    <span class="product-price-old">₡1550.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper-single">
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a >
                                    <img src="{{ url_for('static', filename='img/product/gusanos_acidos.png') }}" alt="" />
                                </a>
                                <span>-15%</span>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Gusanos Acidos</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡1190.00 -</span>
                                    <span class="product-price-old">₡1400.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a >
                                    <img src="{{ url_for('static', filename='img/product/tropicales.png') }}" alt="" />
                                </a>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Trululu Tropicales</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡1200.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper-single">
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a >
                                    <img src="{{ url_for('static', filename='img/product/chocosnacks.png') }}" alt="" />
                                </a>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Turrón Supercoco</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡1300.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a >
                                    <img alt="" src="{{ url_for('static', filename='img/product/pinata.png') }}">
                                </a>
                                <span>-20%</span>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Trululu Piñata</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡5700.00 -</span>
                                    <span class="product-price-old">₡6600.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper-single">
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a>
                                    <img alt="" src="{{ url_for('static', filename='img/product/oka_loka.png') }}">
                                </a>
                                <span>-30%</span>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Paquete Oka Loka Fusión</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡1575.00 -</span>
                                    <span class="product-price-old">₡2250.00 </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a>
                                    <img alt="" src="{{ url_for('static', filename='img/product/oka_loka.png') }}">
                                </a>
                            </div>
                            <div class="product-content text-left">
                                <div class="product-hover-style">
                                    <div class="product-title">
                                        <h4>
                                            <a >Paquete Oka Loka Nanos</a>
                                        </h4>
                                    </div>
                                    <div class="cart-hover">
                                        <h4><a >Detalle del producto</a></h4>
                                    </div>
                                </div>
                                <div class="product-price-wrapper">
                                    <span>₡3500.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New Products End -->
<!-- Testimonial Area Start -->
<div class="testimonials-area logitos bg-img pt-100 pb-100">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-testimonial text-center">
                        <p>¡Te damos la bienvenida al mundo de la dulzura!</p>
                        <h4>En donde somos especialistas en darle sabor a tu vida.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- News Area Start -->
<div class="blog-area white-bg pt-90 pb-70">
    <div class="container">
        <div class="product-top-bar section-border mb-55">
            <div class="section-title-wrap text-center">
                <h3 class="section-title">Eventos Populares</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-single mb-30">
                    <div class="blog-thumb">
                        <img src="{{ url_for('static', filename='img/blog/evento1.jpg') }}" alt="" />
                    </div>
                    <div class="blog-content pt-25">
                        <h3>Inaguracion de Tienda Trululu en City Mall.</h3>
                        <p>Se tendran actividades para los niños con Spiderman, Spider Gwen y muchas otras cosas.</p>
                        <p>Horario: 3pm a 5pm.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-single mb-30">
                    <div class="blog-thumb">
                        <img src="{{ url_for('static', filename='img/blog/evento2.jpg') }}" alt="" />
                    </div>
                    <div class="blog-content pt-25">
                        <h3>Celebracion del Bicentenario de Costa Rica.</h3>
                        <p>En todas nuestras Tiendas disponibles por solo 500 colones puedes comprar Gomitas Trululu Tropical.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-single mb-30">
                    <div class="blog-thumb">
                        <img src="{{ url_for('static', filename='img/blog/evento3.jpg') }}" alt="" />
                    </div>
                    <div class="blog-content pt-25">
                        <h3>Inaguracion de la barrita Super Coco.</h3>
                        <p>Se inagura la venta de nuesto nuevo producto la barrita de cereal Super Coco que ya esta disponible en nuestras tiendas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Area End -->
{% endblock %}