{% extends 'base.html' %}

{% block title %}
    Inventario
{% endblock %}

{% block content %}
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-image-4 ptb-150">
            <div class="container">
                <div class="breadcrumb-content text-center">

                </div>
            </div>
        </div>
		<!-- Breadcrumb Area End -->
		<!-- Shop Page Area Start -->
        <div class="shop-page-area ptb-100">
            <div class="container">
                <div class="row flex-row-reverse ">
                    <div class="col-lg-9">
                        <div class="shop-topbar-wrapper">
                            <div class="shop-topbar-left">
                            </div>
                            <div class="product-sorting-wrapper">
                                <div class="product-shorting shorting-style">
                                    <select name="marca" id="marca">
                                        <option value="0" selected>Marcas:</option>
                                        {% for marca in marcas %}
                                            <option value="{{marca.id_marca}}">{{marca.des_marca}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="product-show shorting-style">
                                    <label>Ordenar por:</label>
                                    <select>
                                        <option value="">Disponible</option>
                                        <option value="">Orden de la A a la Z</option>
                                        <option value="">Orden de la Z a la A</option>
                                        <option value=""> Precio mayor a menor</option>
                                        <option value=""> Precio menor a mayor</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <form action="" method="post">
                                <div class="cart-clear">
                                    <button type="submit" style="color: white;" name="funcion" id="funcion" value="agregar">Añadir Producto</button>
                                </div>
                            </form>
                        </div>
                        <div class="grid-list-product-wrapper">
                            <div class="product-grid product-view pb-20">
                                <div class="row"> 
                                    {% for producto in productos %}
                                    <div  class="product-width pro-list-none col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                        <div class="product-wrapper">
                                            <div class="product-img">

                                                {% if producto.nombre == "Chonosnacks" %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/chocosnacks.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if producto.nombre == "chocolores" %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/chocolores.png') }}" alt="" />
                                                </a>
                                                {% endif %}
                                                {% if  producto.nombre == "Dinos" %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/dinos.jpg') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if  producto.nombre == "Tropicales " %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/tropicales.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if  producto.nombre == "Gusanos" %}
                                                <a>
                                                    <img src="{{ url_for('static', filename='img/product/gusanos_acidos.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if  producto.nombre == "Piñata" %}
                                                <a>
                                                    <img alt="" src="{{ url_for('static', filename='img/product/pinata.png') }}">
                                                </a>
                                                {% endif %}

                                                {% if  producto.nombre == "Gomitas Oro" %}
                                                <a>
                                                    <img src="{{ url_for('static', filename='img/product/oro.png') }}" alt="" />
                                                </a>
                                                {% endif %}
                                               
                                                {% if producto.descuento != 0 %}
                                                    <span>- {{producto.descuento}}%</span>
                                                {% endif %}
                                            </div>
                                            <div class="product-content text-left">
												<div>
                                                    <div class="product-title">
                                                        <h4>
                                                            <a>{{ producto.nombre }}</a>
                                                        </h4>
                                                    </div>
                                                    <form action="" method="post">
                                                        <div class="cart">
                                                            <button type="submit" name="funcion" id="funcion"  value="{{producto.id_producto}}" style="color:white; background-color: #CD21CF; border-color: #CD21CF;" >Editar Producto</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="product-price-wrapper">
                                                    {% if producto.descuento != 0 %}
                                                        <span>₡{{ producto.precio - (producto.precio * (producto.descuento / 100)) }}</span>
                                                        <span class="producto-price-old">₡{{ producto.precio }}</span>
                                                    {% else %}
                                                        <span>₡{{ producto.precio }}</span>
                                                    {% endif %}
                                                </div>
											</div>
                                        </div>
                                    </div>
                                    {% endfor %}                              
                                </div> 
                            </div>
                            <div class="pagination-total-pages">
                                <div class="pagination-style">
                                    <ul>
                                        <li><a class="prev-next prev" href="#"><i class="ion-ios-arrow-left"></i> Ver:</a></li>
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a class="prev-next next" href="#">Siguiente<i class="ion-ios-arrow-right"></i> </a></li>
                                    </ul>
                                </div>
                                <div class="total-pages">
                                    <p>Resultados de busqueda </p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
		<!-- Shop Page Area End -->
{% endblock %}