{% extends 'base.html' %}

{% block title %}
Cotizaciones
{% endblock %}

{% block content %}
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Estado de
                                        pedidos</a>
                                </h5>
                            </div>
                            <div id="payment-6" data-bs-parent="#faq">
                                <div class="panel-body">
                                    <div class="order-review-wrapper">
                                        <div class="order-review">
                                            <div class="table-responsive">
                                                <div
                                                    style="display: flex; flex-direction: column; align-items: center;">
                                                    <table class="content-table">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                class="width-1">Cotización</th>
                                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                class="width-1">respuesta</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <form>
                                                                {% for quot in quots %}
                                                                <tr>
                                                                    <input type="hidden" name="id_usuario"
                                                                        value="{{quot.id_usuario}}">
                                                                    <td style="font-size: 18px;">{{quot.des_cotizacion}}</td>
                                                                    {% if quot.respuesta == None %}
                                                                    <td style="font-size: 18px;">Sin respuesta</td>
                                                                    {% else %}
                                                                    <td style="margin-left: 2px; font-size: 18px;">{{quot.respuesta}}
                                                                    </td>
                                                                    {% endif %}
                                                                </tr>
                                                                {% endfor %}
                                                            </form>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        {% endblock %}