{% extends 'base.html' %}

{% block title %}
Envíos
{% endblock %}

{% block content %}
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Estado de
                                        pedidos</a>
                                </h5>
                            </div>
                            <div id="payment-6" data-bs-parent="#faq">
                                <div class="panel-body">
                                    <div class="order-review-wrapper">
                                        <div class="order-review">
                                            <div class="table-responsive">
                                                <form action="" method="post">
                                                    <table class="content-table">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                    class="width-1">Número de pedido</th>
                                                                <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                    class="width-1">Cliente</th>
                                                                <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                    class="width-2">Destino</th>
                                                                <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                    class="width-3">Estado</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <td>
                                                                    <div class="o-pro-dec">
                                                                        <p
                                                                            style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                                            {{order.id_pedido}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="o-pro-dec">
                                                                        <p
                                                                            style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                                            {{order.apellido1}}, {{order.nombre1}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="o-pro-price">
                                                                        <p
                                                                            style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                                            {{order.des_provincia}}</p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="o-pro-qty">
                                                                        <select class="sl-order"
                                                                            style="font-size: 16px; color: rgb(65, 65, 65); background-color: rgb(255, 255, 255); border: 0,5px solid black; border-radius: 10px;"
                                                                            name="{{order.id_pedido}}">
                                                                            {% if order.estado == 'En proceso' %}
                                                                            <option value="processing" selected>En
                                                                                proceso</option>
                                                                            <option value="shipped">Enviado</option>
                                                                            <option value="delivered">Entregado</option>
                                                                            {% elif order.estado == 'Enviado' %}
                                                                            <option value="processing">En proceso
                                                                            </option>
                                                                            <option value="shipped" selected>Enviado
                                                                            </option>
                                                                            <option value="delivered">Entregado</option>
                                                                            {% elif order.estado == 'Entregado' %}
                                                                            <option value="processing">En proceso
                                                                            </option>
                                                                            <option value="shipped">Enviado</option>
                                                                            <option value="delivered" selected>Entregado
                                                                            </option>
                                                                            {% endif %}
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                            </div>
                                            <div class="billing-back-btn">
                                                <div class="billing-btn">
                                                    <button type="submit">Actualizar</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}