{% extends 'base.html' %}

{% block title %}
    Envíos
{% endblock %}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-image-5 ptb-150">
        <div class="container">
            <div class="breadcrumb-content text-center">

            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!-- checkout-area start -->
    <div class="checkout-area pb-80 pt-100">
        <div class="container">
            <div class="row" style="text-align: center; justify-content: center;">
                <div class="col-lg-9">
                    <div class="checkout-wrapper">
                        <div id="faq" class="panel-group">
                            <div class="panel panel-default">
                                <div >
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Estado de pedidos</a></h5>
                                    </div>
                                    <div id="payment-6" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="order-review-wrapper">
                                                <div class="order-review">
                                                    <div class="table-responsive">
                                                        <table class="content-table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;" class="width-1">Número de pedido</th>
                                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;" class="width-2">Ubicación</th>
                                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;" class="width-3">Estado</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for order in orders %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="o-pro-dec">
                                                                            <p style="font-size: 16px; text-align: center; margin-top: 10px;">{{order.id_pedido}}</p>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="o-pro-price">
                                                                            <p style="font-size: 16px; text-align: center; margin-top: 10px;">{{session['user_canton_name']}}, {{session['user_province_name']}}</p>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <p style="font-size: 16px; text-align: center; margin-top: 10px;">{{order.estado}}</p>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
{% endblock %}