{% extends 'base.html' %}

{% block title %}
Realizar pago
{% endblock %}

{% block content %}
{% if 'user_address' is not in session %}
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div >
                            <h2>Debe <a href="{{url_for('profile')}}" style="border-bottom: 3px solid #0E23A2; color: #0E23A2;">registrar su dirección</a> para continuar</h2>
                            <img alt="" style="margin-top: 50px;" src="{{ url_for('static', filename='img/logo/mapa.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            {% else %}
            <!-- Breadcrumb Area Start -->
            <div class="breadcrumb-area bg-image-5 ptb-150">
                <div class="container">
                    <div class="breadcrumb-content text-center">

                    </div>
                </div>
            </div>
            <!-- Breadcrumb Area End -->
            <!-- checkout-area start -->
            <div class="checkout-area pb-80 pt-100">
                <div class="container">
                    <div class="row" style="text-align: center; justify-content: center;">
                        <div class="col-lg-9">
                            <div class="checkout-wrapper">
                                <div id="faq" class="panel-group">
                                    <form method="post">
                                        <div class="panel panel-default">

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title"> <a data-bs-toggle="collapse"
                                                            href="#payment-2">Verificación de datos</a></h5>
                                                </div>
                                                <div id="payment-2" data-bs-parent="#faq">
                                                    <div class="panel-body">
                                                        <div class="billing-information-wrapper">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>identificacion:</label>
                                                                        <input type="text"
                                                                            value="{{ session['user'].identificacion }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Nombre:</label>
                                                                        {% if session['user'].nombre2 == None %}
                                                                        <input type="text"
                                                                            value="{{ session['user'].nombre1 }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                        {% else %}
                                                                        <input type="text"
                                                                            value="{{ session['user'].nombre1 }} {{ session['user'].nombre2 }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Apellido</label>
                                                                        {% if session['user'].apellido2 == None %}
                                                                        <input type="text"
                                                                            value="{{ session['user'].apellido1 }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                        {% else %}
                                                                        <input type="text"
                                                                            value="{{ session['user'].apellido1 }} {{ session['user'].apellido2 }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Coreo Electrónico:</label>
                                                                        <input type="text"
                                                                            value="{{ session['user'].correo }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Numero Telefónico:</label>
                                                                        <input type="text"
                                                                            value="{{ session['user'].telefono }}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Provincia</label>
                                                                        <input type="text"
                                                                            value="{{session['user_province_name']}}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Cantón</label>
                                                                        <input type="text"
                                                                            value="{{session['user_canton_name']}}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Distrito</label>
                                                                        <input type="text"
                                                                            value="{{session['user_district_name']}}"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-6">
                                                                    <div class="billing-info">
                                                                        <label>Dirección detallada</label>
                                                                        <textarea name="" id="" cols="30" rows="10"
                                                                            style="max-height: 100px; min-height: 80px;"
                                                                            style="background-color: rgb(223, 223, 223);"
                                                                            disabled>{{session['user_address']}}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-clear"
                                                style="display: flex; flex-direction: row; justify-content: space-around;">
                                                <button type="submit" id="facturar"
                                                    style="color: white;">Facturar</button>
                                                <a href="{{ url_for('profile') }}"
                                                    style="font-size: 13px; text-decoration: none;"><button
                                                        type="button" id="facturar"
                                                        style="color: white; border: none; background-color: rgba(0, 0, 0, 0);">MODIFICAR
                                                        DATOS</button></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}