{% extends 'base.html' %}

{% block title %}
    Detalles del producto
{% endblock %}

{% block content %}
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-image-4 ptb-150">
            <div class="container">
                <div class="breadcrumb-content text-center">
                </div>
            </div>
        </div>
		<!-- Breadcrumb Area End -->
		<!-- Product Deatils Area Start -->
        <div class="product-details pt-100 pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-img">
                            <img class="zoompro" src="{{ url_for('static', filename='img/product-details/product-details-2.png') }}" data-zoom-image="{{ url_for('static', filename='img/product-details/product-details-2-bl1.png') }}" alt="zoom"/>
                            <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                                <a data-image="{{ url_for('static', filename='img/product-details/product-details-3.png') }}" data-zoom-image="{{ url_for('static', filename='img/product-details/product-details-3-bl1.png') }}">
                                    <img src="{{ url_for('static', filename='img/product-details/product-details-3-s1.png') }}" alt="">
                                </a>
                                <a data-image="{{ url_for('static', filename='img/product-details/product-details-2.png') }}" data-zoom-image="{{ url_for('static', filename='img/product-details/product-details-2-bl1.png') }}">
                                    <img src="{{ url_for('static', filename='img/product-details/product-details-2-s1.png') }}" alt="">
                                </a>
                            </div>
                            <span>-25%</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-content">
                            <h4>Trululu Oro</h4>
                            <div class="in-stock">
                                <p>Estado: <span>Disponible en inventario</span></p>
                            </div>
                            <br>
                            <p>Las gomitas trululu Oro te daran en cada mordida una aventura con peligro y riesgos pero sobre un tesoro delicioso y hermoso.</p>
                            <br>
                            <p>Peso : 15g</p>
                            <br>
                            <div class="product-price-wrapper">
                                <span>Precio: ₡1162.00 -</span>
                                <span class="product-price-old">₡1550.00</span>
                            </div>
                            <br>
                            <p>Cantida de producto:</p>
                            <br>
                            <div class="shop-list-cart-wishlist">
                                <div class="product-quantity">
                                    <div class="pro-dec-cart">
                                        <button class="cart-plus-minus-box" id="restar" type="button">-</button>
                                        <input class="cart-plus-minus-box" type="text" value="1" id="cantidad" name="qtybutton">
                                        <button class="cart-plus-minus-box" id="sumar" type="button">+</button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <p>Añadir al carrito:</p>
                                <div class="cart-clear">
                                    <button type="button" class="compra">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Product Deatils Area End -->
        <div class="description-review-area pb-70">
            <div class="container">
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav text-center">
                        <a class="active" data-bs-toggle="tab" href="#des-details1">Descripcion</a>
                    </div>
                    <div class="tab-content description-review-bottom">
                        <div id="des-details1" class="tab-pane active">
                            <div class="product-description-wrapper">
                                <p>Las gomitas trululu Oro te daran en cada mordida una aventura con peligro y riesgos pero sobre un tesoro delicioso y hermoso.</p>
                                <p>Estas gomitas contiene diseños egipcios con distintos sabores y colores que llamaran la atencion de los aventureros en busca de tesoros.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-100">
            <div class="container">
                <div class="product-top-bar section-border mb-35">
                    <div class="section-title-wrap">
                        <h3 class="section-title section-bg-white">Productos Populares</h3>
                    </div>
                </div>
                <div class="featured-product-active hot-flower owl-carousel product-nav">
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="{{ url_for('product_details') }}">
                                <img alt="" src="{{ url_for('static', filename='img/product/product-3.png') }}">
                            </a>
                            <span>-15%</span>
                        </div>
                        <div class="product-content text-left">
							<div class="product-hover-style">
                                <div class="product-title">
                                    <h4>
                                        <a href="{{ url_for('product_details') }}">Bianchi</a>
                                    </h4>
                                </div>
                                <div class="cart-hover">
                                    <h4><a href="{{ url_for('product_details') }}">+ Añadir Al Carrito</a></h4>
                                </div>
                            </div>
                            <div class="product-price-wrapper">
                                <span>₡1190.00 -</span>
                                <span class="product-price-old">₡1400.00</span>
                            </div>
						</div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="{{ url_for('product_details') }}">
                                <img alt="" src="{{ url_for('static', filename='img/product/product-4.png') }}">
                            </a>
                        </div>
                        <div class="product-content text-left">
							<div class="product-hover-style">
                                <div class="product-title">
                                    <h4>
                                        <a href="{{ url_for('product_details') }}">Barrilete</a>
                                    </h4>
                                </div>
                                <div class="cart-hover">
                                    <h4><a href="{{ url_for('product_details') }}">+ Añadir Al Carrito</a></h4>
                                </div>
                            </div>
                            <div class="product-price-wrapper">
                                <span>₡1200.00</span>
                            </div>
						</div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="{{ url_for('product_details') }}">
                                <img alt="" src="{{ url_for('static', filename='img/product/product-5.png') }}">
                            </a>
                        </div>
                        <div class="product-content text-left">
							<div class="product-hover-style">
                                <div class="product-title">
                                    <h4>
                                        <a href="{{ url_for('product_details') }}">Turrón Supercoco</a>
                                    </h4>
                                </div>
                                <div class="cart-hover">
                                    <h4><a href="{{ url_for('product_details') }}">+ Añadir Al Carrito</a></h4>
                                </div>
                            </div>
                            <div class="product-price-wrapper">
                                <span>₡1300.00</span>
                            </div>
						</div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="{{ url_for('product_details') }}">
                                <img alt="" src="{{ url_for('static', filename='img/product/product-6.png') }}">
                            </a>
                            <span>-20%</span>
                        </div>
                        <div class="product-content text-left">
                            <div class="product-hover-style">
                                <div class="product-title">
                                    <h4>
                                        <a href="{{ url_for('product_details') }}">Trululu Dragones</a>
                                    </h4>
                                </div>
                                <div class="cart-hover">
                                    <h4><a href="{{ url_for('product_details') }}">+ Añadir Al Carrito</a></h4>
                                </div>
                            </div>
                            <div class="product-price-wrapper">
                                <span>₡1280.00 -</span>
                                <span class="product-price-old">₡1600.00</span>
                            </div>
						</div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="{{ url_for('product_details') }}">
                                <img alt="" src="{{ url_for('static', filename='img/product/product-7.png') }}"> 
                            </a>
                            <span>-30%</span>
                        </div>
                        <div class="product-content text-left">
							<div class="product-hover-style">
                                <div class="product-title">
                                    <h4>
                                        <a href="{{ url_for('product_details') }}">Paquete Oka Loka Fusión</a>
                                    </h4>
                                </div>
                                <div class="cart-hover">
                                    <h4><a href="{{ url_for('product_details') }}">+ Añadir Al Carrito</a></h4>
                                </div>
                            </div>
                            <div class="product-price-wrapper">
                                <span>₡1575.00 -</span>
                                <span class="product-price-old">₡2250.00 </span>
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}