{% extends 'base.html' %}

{% block title %}
    Mi perfil
{% endblock %}

{% block content %}

{% from "_macro.html" import render_field %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-image-5 ptb-150">
        <div class="container">
            <div class="breadcrumb-content text-center">

            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!-- checkout-area start -->
    <div class="checkout-area pb-80 pt-100" >
        <div class="container" >
            <div class="row" style="text-align: center; justify-content: center;">
                <div class="col-lg-9" >
                    <div class="checkout-wrapper">
                        <div id="faq" class="panel-group">
                            <div class="panel panel-default">

                                <div >
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span></span> <a href="#payment-2">Bienvenido, {{ session['user'].nombre1 }}</a></h5>
                                    </div>
                                    <div id="payment-2" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <form method="POST">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>identificacion:</label>
                                                                {{ render_field(update_form.numeroIdentificacion, value=session['user'].identificacion)}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Nombre:</label>
                                                                {% if session['user'].nombre2 == None %}
                                                                    {{ render_field(update_form.nombre, value=session['user'].nombre1)}}
                                                                {% else %}
                                                                    {{ render_field(update_form.nombre, value=session['user'].nombre1 + ' ' + session['user'].nombre2)}}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Apellido</label>
                                                                {% if session['user'].apellido2 == None %}
                                                                    {{ render_field(update_form.apellido, value=session['user'].apellido1)}}
                                                                {% else %}
                                                                    {{ render_field(update_form.apellido, value=session['user'].apellido1 + ' ' + session['user'].apellido2)}}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Coreo Electrónico:</label>
                                                                {{ render_field(update_form.correo, value=session['user'].correo)}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Numero Telefónico:</label>
                                                                {{ render_field(update_form.telefono, value=session['user'].telefono)}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Nombre de usuario:</label>
                                                                {{ render_field(update_form.username, value=session['user'].nombre_usuario)}}
                                                            </div>
                                                        </div>

                                                        {% if session['user'].id_direccion != None %}
                                                            <div class="col-lg-12 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Provincia</label>
                                                                    <input type="text" value="{{session['user_province_name']}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Cantón</label>
                                                                    <input type="text" value="{{session['user_canton_name']}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Distrito</label>
                                                                    <input type="text" value="{{session['user_district_name']}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-6">
                                                                <div class="billing-info">
                                                                    <label>Dirección detallada</label>
                                                                    <textarea name="" id="" cols="30" rows="10" style="max-height: 100px; min-height: 80px;" style="background-color: rgb(223, 223, 223);" disabled>{{session['user_address']}}</textarea>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        <div class="billing-back-btn">
                                                            <div style="width: 100%;" class="billing-btn">
                                                                <button style="width: 100%;" type="submit">Actualizar mi perfil</button>
                                                            </div>
                                                        </div>
                                                        <div class="billing-back-btn">
                                                            <div class="billing-btn">
                                                                <a class="linkpassword" style="width: 100%;" href="{{ url_for('update_password') }}">Cambiar contraseña</a>
                                                            </div>
                                                        </div>
                                                        {% if session['user'].id_direccion != None %}
                                                            <div class="billing-back-btn">
                                                                <div class="billing-btn">
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="billing-back-btn">
                                                                <div class="billing-btn">
                                                                    <a class="linkpassword" style="width: 100%;" href="{{ url_for('add_province') }}">Registrar mi dirección</a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}