{% extends 'base.html' %}

{% block title %}
Cotizaciones
{% endblock %}

{% block content %}
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>

<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Estado de
                                        pedidos</a>
                                </h5>
                            </div>
                            <div id="payment-6" data-bs-parent="#faq">
                                <div class="panel-body">
                                    <div class="order-review-wrapper">
                                        <div class="order-review">
                                            <div class="table-responsive">
                                                <table class="content-table">
                                                    <thead>
                                                        <tr>
                                                        <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                            class="width-1">Cliente</th>
                                                        <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                            class="width-1">Solicitud</th>
                                                        <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                            class="width-2">Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <form>
                                                            {% for quot in quots %}
                                                            <tr>
                                                                <input type="hidden" name="id_usuario"
                                                                    value="{{quot.id_usuario}}">
                                                                <td>
                                                                    <div class="o-pro-dec">
                                                                        <p
                                                                            style="font-size: 18px; text-align: center; margin-top: 10px;">
                                                                            {{quot.apellido1}}, {{quot.nombre1}}
                                                                        </p>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="o-pro-dec">
                                                                        <p
                                                                            style="font-size: 18px; text-align: center; margin-top: 10px;">
                                                                            {{quot.des_cotizacion}}
                                                                        </p>
                                                                    </div>                                               
                                                                </td>
                                                                {% if quot.respuesta == None %}
                                                                <td><a
                                                                        href="{{ url_for('quotation_ans', id_cotizacion=quot.id_cotizacion) }}"><button
                                                                            class="btn btn-success"
                                                                            type="button" style="font-size: 18px;">Responder</button></a>
                                                                </td>
                                                                {% else %}
                                                                <td style="margin-left: 2px;"><img
                                                                        src="https://cdn-icons-png.flaticon.com/512/3472/3472620.png"
                                                                        style="width: 30px; margin-left: 6px;" alt="">
                                                                </td>
                                                                {% endif %}
                                                            </tr>
                                                            {% endfor %}
                                                        </form>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}