{% extends 'base.html' %}

{% block title %}
Respuesta
{% endblock %}

{% block content %}

<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Respuesta de
                                        cotización a {{usuario.apellido1}}, {{usuario.nombre1}}</a>
                                </h5>
                            </div>
                            <div id="payment-6" data-bs-parent="#faq">
                                <div class="panel-body">
                                    <div class="order-review-wrapper">
                                        <div class="order-review">
                                            <form action="" method="post">

                                                <textarea name="answer" id="answer" cols="30" rows="10" placeholder="Ingrese la respuesta a la cotización del revendedor"></textarea>
                                                <div class="billing-back-btn">
                                                    <div class="billing-btn">
                                                        <button type="submit">Enviar respuesta</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}