{% extends 'base.html' %}

{% block title %}
    Cotizaciones
{% endblock %}

{% block content %}
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-image-3 ptb-150">
            <div class="container">
                <div class="breadcrumb-content text-center">
                </div>
            </div>
        </div>
		<!-- Breadcrumb Area End -->
        <!-- my account start -->
        <div class="checkout-area pb-80 pt-100">
            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="ml-auto mr-auto col-lg-9">
                        <div class="checkout-wrapper">
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span></span> <a data-bs-toggle="collapse" href="#my-account-1" style="text-align: center;">Confirmar datos</a></h5>
                                    </div>
                                    <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Datos personales</h4>

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Nombre</label>
                                                            {% if session['user'].nombre2 == None %}
                                                                <input type="text" value="{{session['user'].nombre1}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                            {% else %}
                                                                <input type="text" value="{{session['user'].nombre1}} {{session['user'].nombre2}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Apellido</label>
                                                            {% if session['user'].apellido2 == None %}
                                                                <input type="text" value="{{session['user'].apellido1}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                            {% else %}
                                                                <input type="text" value="{{session['user'].apellido1}} {{session['user'].apellido2}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Correo electrónico</label>
                                                            <input type="text" value="{{session['user'].correo}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Teléfono</label>
                                                            <input type="text" value="{{session['user'].telefono}}" style="background-color: rgb(223, 223, 223);" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="billing-back-btn" style="width: 100%;">
                                                        <div class="billing-btn" style="width: 100%; display: flex; flex-direction: row; justify-content: flex-start;">
                                                            <button type="button" style="width: 100%;"><a style="color: rgb(255, 255, 255);" href="{{ url_for('profile') }}">Deseo modificar mis datos</a></button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="" method="post">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span></span> <a data-bs-toggle="collapse" href="#my-account-2"  style="text-align: center;">Solicitar Cotización</a></h5>
                                        </div>
                                        <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                                            <div class="panel-body">
                                                <div class="billing-information-wrapper">
                                                    <div class="account-info-wrapper">
                                                        <h4>Redacte la cotización</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="billing-info">
                                                                <textarea name="quotation" id="quotation" cols="30" rows="10" style="min-height: 100px; max-height: 300px;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="billing-back-btn" style="width: 100%;">
                                                        <div class="billing-btn" style="width: 100%; display: flex; flex-direction: row; justify-content: flex-start;">
                                                            <button type="submit" style="width: 100%;">Enviar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- quotation ends -->
{% endblock %}