{% extends 'base.html' %}

{% block title %}
   Factura
{% endblock %}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-image-5 ptb-150">
        <div class="container">
            <div class="breadcrumb-content text-center">

            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!-- checkout-area start -->
    <div class="checkout-area pb-80 pt-100">
        <div class="container">
            <div class="row" style="text-align: center; justify-content: center;">
                <div class="col-lg-9">
                    <div class="checkout-wrapper">
                        <div id="faq" class="panel-group">
                            <div class="panel panel-default">
                                <div >
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Factura de {{usuario.nombre1}}</a></h5>
                                        <h4>{{fecha}}</h4>
                                    </div>
                                    <div id="payment-6" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <div class="order-review-wrapper">
                                                <div class="order-review">
                                                    <div class="table-responsive">
                                                        <table class="content-table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;" class="width-1">Producto</th>
                                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;" class="width-2">Cantidad</th>
                                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;" class="width-3">Costo</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for product in factura %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="o-pro-dec">
                                                                            <p style="font-size: 16px; text-align: center; margin-top: 10px;">{{product.nombre}}</p>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="o-pro-price">
                                                                            <p style="font-size: 16px; text-align: center; margin-top: 10px;">{{product.cantidad}}</p>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        {% if product.descuento != 0 %}
                                                                            <p style="font-size: 16px; text-align: center; margin-top: 10px;">₡{{ product.precio - (product.precio * (product.descuento / 100)) }}</p>
                                                                        {% else %}
                                                                            <p style="font-size: 16px; text-align: center; margin-top: 10px;">₡{{product.precio}}</p>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <h4 style="margin-top: 5px;">Total: {{total}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>

    <div class="checkout-area pb-80 pt-100">
        <div class="container">
            <div class="row" style="text-align: center; justify-content: center;">
                <div class="col-lg-9">
                    <div class="checkout-wrapper">
                        <div style="text-align: center;">
                            <a href="https://trululu-web-app.herokuapp.com/receive_menu" style="font-size: 25px;text-align: center;margin-top: 80px;border-bottom: 2px solid #0E23A2; color: #0E23A2;">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}