{% extends 'base.html' %}

{% block title %}
Mis Facturas
{% endblock %}

{% block content %}
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>

<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Mis facturas</a></h5>
                                <h6 style="margin-top: 15px;" class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Al realizar una compra, su factura se procesa en las próximas 24h. Agradecemos su paciencia.</a></h6>
                                <h6 style="margin-top: 15px;" class="panel-title"><a data-bs-toggle="collapse" href="#payment-6">Luego de que su factura es procesada, debe enviar un Sinpe Móvil al (+506) 6379-4720 con el monto correspondiente.</a></h6>
                            </div>
                            <div id="payment-6" data-bs-parent="#faq">
                                <div class="panel-body">
                                    <div class="order-review-wrapper">
                                        <div class="order-review">
                                            <div class="table-responsive">
                                                <table class="content-table">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                            class="width-1">ID</th>
                                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                class="width-1">Fecha</th>
                                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                class="width-1">Costo total</th>
                                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                                class="width-1">Detalle</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for factura in facturas %}
                                                        <tr>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p style="font-size: 18px; text-align: center; margin-top: 10px;">{{factura.id_factura}}</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p style="font-size: 18px; text-align: center; margin-top: 10px;">{{factura.fecha}}</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p style="font-size: 18px; text-align: center; margin-top: 10px;">{{factura.total_precio}}</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p style="font-size: 18px; text-align: center; margin-top: 10px;"><a style="color: rgb(38, 170, 232);" href="https://trululu-web-app.herokuapp.com/receive/{{factura.id_factura}}">Ver factura</a></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}