{% extends 'base.html' %}

{% block title %}
    Registrar Producto
{% endblock %}

{% block content %}
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-image-3 ptb-150">
            <div class="container">
                <div class="breadcrumb-content text-center">
                </div>
            </div>
        </div>
		<!-- Breadcrumb Area End -->
        <!-- my account start -->
        <div class="checkout-area pb-80 pt-100">
            <div class="container">
                <div class="row" style="text-align: center; justify-content: center;">
                    <div class="ml-auto mr-auto col-lg-9">
                        <div class="checkout-wrapper">
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span></span> <a data-bs-toggle="collapse" href="#my-account-1">Informacion de producto</a></h5>
                                    </div>
                                    <form action="/register-product" method="post" enctype="multipart/form-data">
                                        <div id="my-account-1" data-bs-parent="#faq">
                                            <div class="panel-body">
                                                <div class="billing-information-wrapper">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Nombre del producto:</label>
                                                                <input type="text" name="product_name" id="product_name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Descripcion del producto:</label>
                                                                <input type="text" name="product_desc" id="product_desc">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Cantidad del producto:</label>
                                                                <input type="number" name="product_count" id="product_count">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Stock del producto:</label>
                                                                <input type="number" name="product_stock" id="product_stock">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Precio del producto:</label>
                                                                <input type="number" name="product_precio" id="product_precio">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Descuento asignado:</label>
                                                                <input type="number"  name="product_descuento" id="product_descuento">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Imagen de portada:</label>
                                                                <input type="file" id="product_image" name="product_image" accept=".png .jpg">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label>Esta disponible:</label>
                                                                <input type="text" name="product_disponible" id="product_disponible">
                                                            </div>
                                                        </div>
                                                        <div class="content-select">
                                                            <select name="marca" id="marca">
                                                                <option value="0" selected>Marcas:</option>
                                                                {% for marca in marcas %}
                                                                    <option value="{{marca.id_marca}}">{{marca.des_marca}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <br>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div style="text-align: center; justify-content: center;">
                                                        <div class="cart-clear">
                                                            <button type="submit" style="color: white;" >Registrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- my account end -->
{% endblock %}