<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Trululu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="alertaError" class="alert alert-warning" style="margin-top: 2px;" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% from "_macro.html" import render_field %}
    <img src="{{ url_for('static', filename='img/logo/Logo-Trululu.png') }}" class="logo" alt="">
    <main>
        <div class="main_container">
            <div class="bg_box">
                <div class="bg_box_login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn_on_session" class="btn">Iniciar Sesión</button>
                </div>
                <div class="bg_box_register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Registrate para iniciar sesión</p>
                    <button class="btn" id="btn_on_register">Registrarse</button>
                </div>
            </div>

            <div class="container_login-register">

                <form method="POST" class="form_login">

                    <h2>Iniciar Sesión</h2>
                    {{ render_field(login_form.vcorreo) }}
                    {{ render_field(login_form.vcontrasena) }}
                    <div>
                        <input type="submit" class="btn" name="btnIniciar"  value="Iniciar Sesión">
                    </div>
                    <br>
                    <br>
                    <div style="text-align: center;">
                        <a href="{{ url_for('home') }}">Regresar</a>
                    </div>
                </form>

                <form method="POST" class="form_register">
                    <h2>Registrarse</h2>
                    {{ render_field(register_form.nombre, class='field') }}
                    {{ render_field(register_form.apellido, class='field') }}
                    {{ render_field(register_form.numeroIdentificacion, class='field') }}
                    {{ render_field(register_form.correo, class='field') }}
                    {{ render_field(register_form.telefono, class='field') }}
                    {{ render_field(register_form.username, class='field') }}
                    {{ render_field(register_form.contrasena, class='field') }}
                    <div>
                        {{ register_form.btnRegistrar() }}
                    </div>

                </form>

            </div>
        </div>
    </main>
    <script src="../static/js/script.js"></script>

</body>

</html>