﻿<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>Tienda Trululu</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/morrisjs/morris.css') }}" />
    <link rel="stylesheet"
        href="{{ url_for('static', filename='plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color_skins.css') }}">
</head>

<body class="theme-black">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="{{ url_for('static', filename='img/logo.svg') }}" width="48" height="48"
                    alt="Alpino"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <div class="overlay_menu">
        <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-close"></i></button>
        <div class="container">
            <div class="row clearfix">
                <div class="card">
                    <div class="body">

                    </div>
                </div>
                <div class="card links">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <h6>App</h6>
                                <ul class="list-unstyled">
                                    <li><a href="mail-inbox.html">Inbox</a></li>
                                    <li><a href="chat.html">Chat</a></li>
                                    <li><a href="events.html">Calendar</a></li>
                                    <li><a href="file-dashboard.html">File Manager</a></li>
                                    <li><a href="contact.html">Contact list</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <h6>User Interface (UI)</h6>
                                <ul class="list-unstyled">
                                    <li><a href="ui_kit.html">UI KIT</a></li>
                                    <li><a href="tabs.html">Tabs</a></li>
                                    <li><a href="range-sliders.html">Range Sliders</a></li>
                                    <li><a href="modals.html">Modals</a></li>
                                    <li><a href="alerts.html">Alerts</a></li>
                                    <li><a href="dialogs.html">Dialogs</a></li>
                                    <li><a href="collapse.html">Collapse</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <h6>Sample Pages</h6>
                                <ul class="list-unstyled">
                                    <li><a href="image-gallery.html">Image Gallery</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="invoices.html">Invoices</a></li>
                                    <li><a href="faqs.html">FAQs</a></li>
                                    <li><a href="search-results.html">Search Results</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <h6>About</h6>
                                <ul class="list-unstyled">
                                    <li><a href="http://thememakker.com/about/" target="_blank">About</a></li>
                                    <li><a href="http://thememakker.com/contact/" target="_blank">Contact Us</a></li>
                                    <li><a href="http://thememakker.com/admin-templates/" target="_blank">Admin
                                            Templates</a></li>
                                    <li><a href="http://thememakker.com/services/" target="_blank">Services</a></li>
                                    <li><a href="http://thememakker.com/portfolio/" target="_blank">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="social">
                        <a class="icon" href="https://www.facebook.com/thememakkerteam" target="_blank"><i
                                class="zmdi zmdi-facebook"></i></a>
                        <a class="icon" href="https://www.behance.net/thememakker" target="_blank"><i
                                class="zmdi zmdi-behance"></i></a>
                        <a class="icon" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                        <a class="icon" href="javascript:void(0);"><i class="zmdi zmdi-linkedin"></i></a>
                        <p>Coded by WrapTheme<br> Designed by <a href="http://thememakker.com/"
                                target="_blank">thememakker.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>

    <!-- Overlay For Sidebars -->

    <!-- Left Sidebar -->

    <div id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info m-b-20">
                        <div class="image">
                            <a href="{{ url_for('quotation') }}"><img
                                    src="{{ url_for('static', filename='img/profile_av.jpg') }}" alt="User"></a>
                        </div>
                        <div class="detail">
                            <a href="javascript:void(0);" title="" class=" waves-effect waves-block"><i
                                    class="zmdi zmdi-facebook-box"></i></a>
                            <a href="javascript:void(0);" title="" class=" waves-effect waves-block"><i
                                    class="zmdi zmdi-linkedin-box"></i></a>
                            <a href="javascript:void(0);" title="" class=" waves-effect waves-block"><i
                                    class="zmdi zmdi-instagram"></i></a>
                            <a href="javascript:void(0);" title="" class=" waves-effect waves-block"><i
                                    class="zmdi zmdi-twitter-box"></i></a>
                        </div>
                    </div>
                </li>

                <li class="active open"> <a href="{{ url_for('home') }}"><i class="zmdi zmdi-home"></i><span>Tienda
                            Trululu</span></a>
                </li>

            </ul>

        </div>
    </div>
    </aside>

    <!-- Main Content -->
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Reporte de Rendimiento</h2>

                    </div>

                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; justify-content: center; margin-left: 10px;">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2> <strong>Bitácora</strong><small>Informe de acciones</small> </h2>
                        <div class="body sales_report">
                            <div class="table-responsive">
                                <table class="table m-b-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                class="width-1">Código de usuario responsable</th>
                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                class="width-1">Nombre de la acción</th>
                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                class="width-2">Sección</th>
                                            <th style="font-size: 20px; text-align: center; margin-top: 6px;"
                                                class="width-2">Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bitacora in bitacoras.items %}
                                        <tr>
                                            <td>
                                                <div class="o-pro-dec">
                                                    <p style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                        {{bitacora.id_usuario}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="o-pro-dec">
                                                    <p style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                        {{bitacora.nombre_accion}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="o-pro-price">
                                                    <p style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                        {{bitacora.origen}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="o-pro-price">
                                                    <p style="font-size: 16px; text-align: center; margin-top: 10px;">
                                                        {{bitacora.fecha}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>






    <!-- Jquery Core Js -->
    <script src="../static/bundles/libscripts.bundle.js"></script>
    <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="../static/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="../static/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="../static/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="../static/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="../static/bundles/sparkline.bundle.js"></script> <!-- sparkline Plugin Js -->
    <script src="../static/bundles/doughnut.bundle.js"></script>

    <script src="../static/bundles/mainscripts.bundle.js"></script>
    <script src="../static/js/pages/index.js"></script>
</body>

</html>