{% extends 'base.html' %}

{% block title %}
Roles
{% endblock %}

{% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div >
                                <div class="panel-heading">
                                    <h5 class="panel-title"><a data-bs-toggle="collapse" href="#payment-2">Asignación de roles</a></h5>
                                </div>
                                <div class="table-responsive">
                                    <form action="" method="post">
                                        <table class="content-table">
                                            <thead>
                                                <tr>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px; color: black;"
                                                        class="width-1" >Nombre de usuario</th>
                                                    <th style="font-size: 20px; text-align: center; margin-top: 6px;color: black;"
                                                        class="width-1">Rol</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in users %}
                                                <tr>
                                                    <td>    
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label style="font-size: 17px;">Usuario</label>
                                                                <input type="text" value="{{user.nombre1}}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>   
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="billing-info">
                                                                <label style="font-size: 17px;">Rol</label>
                                                                <select class="sl-order" style="font-size: 15px; color: rgb(65, 65, 65); background-color: rgb(255, 255, 255); border: 0,5px solid black; border-radius: 10px;"  name="{{user.id_usuario}}" id="{{user.id_usuario}}">
                                                                    {% if user.des_rol == 'Invitado' %}
                                                                        <option value="4" selected>Invitado</option>
                                                                        <option value="14">Revendedor</option>
                                                                        <option value="24">Administrador</option>
                                                                    {% elif user.des_rol == 'Revendedor' %}
                                                                        <option value="4">Invitado</option>
                                                                        <option value="14" selected>Revendedor</option>
                                                                        <option value="24">Administrador</option>
                                                                    {% else %}
                                                                        <option value="4">Invitado</option>
                                                                        <option value="14">Revendedor</option>
                                                                        <option value="24" selected>Administrador</option>
                                                                    {% endif %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="billing-back-btn">
                                            <div class="cart-clear">
                                                <button type="submit" class="registrar"
                                                    style="color: white;">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}