{% extends 'base.html' %}

{% block title %}
    Tienda
{% endblock %}

{% block content %}
		<!-- header end -->
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-image-4 ptb-150">
            <div class="container">
                <div class="breadcrumb-content text-center">

                </div>
            </div>
        </div>
		<!-- Breadcrumb Area End -->
		<!-- Shop Page Area Start -->
        <div class="shop-page-area ptb-100">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-topbar-wrapper">
                            <div class="shop-topbar-left">
                                <p>Resultados de búsqueda:</p>
                            </div>
                            <div class="product-sorting-wrapper">
                                <div class="product-show shorting-style">
                                    <label>Ordenar por:</label>
                                    <select>
                                        <option value="">Disponible</option>
                                        <option value="">Orden de la A a la Z</option>
                                        <option value="">Orden de la Z a la A</option>
                                        <option value=""> Precio mayor a menor</option>
                                        <option value=""> Precio menor a mayor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="grid-list-product-wrapper">
                            <div class="product-grid product-view pb-20">
                                <div class="row">
                                    {% for product in products.items %}
                                    <div class="product-width pro-list-none col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                        <div class="product-wrapper">
                                            <div class="product-img">
                                                {% if product.nombre == "Chonosnacks" %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/chocosnacks.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if product.nombre == "chocolores" %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/chocolores.png') }}" alt="" />
                                                </a>
                                                {% endif %}
                                                {% if  product.nombre == "Dinos" %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/dinos.jpg') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if  product.nombre == "Tropicales " %}
                                                <a>
                                                    <img style="height: 345px;" src="{{ url_for('static', filename='img/product/tropicales.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if  product.nombre == "Gusanos" %}
                                                <a>
                                                    <img src="{{ url_for('static', filename='img/product/gusanos_acidos.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if  product.nombre == "Piñata" %}
                                                <a>
                                                    <img alt="" src="{{ url_for('static', filename='img/product/pinata.png') }}">
                                                </a>
                                                {% endif %}

                                                {% if  product.nombre == "Gomitas Oro" %}
                                                <a>
                                                    <img src="{{ url_for('static', filename='img/product/oro.png') }}" alt="" />
                                                </a>
                                                {% endif %}

                                                {% if product.descuento != 0 %}
                                                    <span>- {{product.descuento}}%</span>
                                                {% endif %}
                                            </div>
                                            <div class="product-content text-left">
												<div class="product-hover-style">
                                                    <div class="product-title">
                                                        <h4>
                                                            <a>{{ product.nombre }} {{ product.cantidad }}</a>
                                                        </h4>
                                                    </div>
                                                    <div class="cart-hover">
                                                        <form method="post">
                                                            <input type="hidden" name="product_id" value="{{product.id_producto}}">
                                                            <button type="submit" class="btn btn-success">+ Añadir al carrito</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="product-price-wrapper">
                                                    {% if product.descuento != 0 %}
                                                        <span>₡{{ product.precio - (product.precio * (product.descuento / 100)) }}</span>
                                                        <span class="product-price-old">₡{{ product.precio }}</span>
                                                    {% else %}
                                                        <span>₡{{ product.precio }}</span>
                                                    {% endif %}
                                                </div>
											</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pagination-total-pages">
                                <div class="pagination-style">
                                    <ul>
                                        {% if session['selected'] != 1 %}
                                            <li><a class="prev-next prev" href="http://127.0.0.1:5000/shop/{{session['selected'] - 1}}"><i class="ion-ios-arrow-left"></i> Previo</a></li>
                                        {% endif %}
                                        {% for page in range(pages) %}
                                            {% if session['selected'] == page + 1 %}
                                                <li><a class="active" href="http://127.0.0.1:5000/shop/{{page + 1}}">{{page + 1}}</a></li>
                                            {% else %}
                                                <li><a href="http://127.0.0.1:5000/shop/{{page + 1}}">{{page + 1}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if session['selected'] != pages %}
                                            <li><a class="prev-next next" href="http://127.0.0.1:5000/shop/{{session['selected'] + 1}}">Siguiente<i class="ion-ios-arrow-right"></i> </a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="total-pages">
                                    <p>Resultados de búsqueda</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
                            <div class="shop-widget">
                                <h4 class="shop-sidebar-title">Filtro de búsqueda:</h4>
                            </div>
                            <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Marcas</h4>
                                <div class="sidebar-list-style mt-20">
                                    <ul>
                                        {% for brand in brands %}
                                            <li><input type="checkbox"><a href="#">{{ brand.des_marca }}</a>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                                <h4 class="shop-sidebar-title">Filtro de precio:</h4>
                                <div class="price_filter mt-25">
                                    <span>Range: ₡800.00 - ₡1300.00 </span>
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                        </div>
                                        <button type="button">Aplicar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Shop Page Area End -->
{% endblock %}