{% extends 'base.html' %}

{% block title %}
    Mi perfil
{% endblock %}

{% block content %}

{% from "_macro.html" import render_field %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-5 ptb-150">
    <div class="container">
        <div class="breadcrumb-content text-center">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100" >
    <div class="container" >
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-lg-9" >
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span></span> <a href="#payment-2">Cambio de contraseña</a></h5>
                                </div>
                                <div id="payment-2" data-bs-parent="#faq">
                                    <div class="panel-body">
                                        <div class="billing-information-wrapper">
                                            <form method="POST">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Nueva contraseña:</label>
                                                            {{ render_field(password_form.contrasena)}}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Confirma contraseña:</label>
                                                            {{ render_field(password_form.confirmar_contrasena)}}
                                                        </div>
                                                    </div>
                                                    <div class="billing-back-btn">
                                                        <div style="width: 100%;" class="billing-btn">
                                                            <button style="width: 100%;" type="submit">Cambiar mi contraseña</button>
                                                        </div>
                                                    </div>
                                                    <div class="billing-back-btn">
                                                        <div class="billing-btn">
                                                            <a class="linkpassword" style="width: 100%;" href="{{ url_for('profile') }}">Regresar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}